In [37]:
import pandas as pd
import numpy as np

In [38]:
data = '../data/raw_Data_Econocast.csv'

In [39]:
df = pd.read_csv(data)

In [40]:
df.tail()

,anio,mes,precio_promedio_venta_USD,promedio_valor_USD_anual,alimentos_bebidas_sin_alcohol,bebidas_alcoholicas_tabaco,prendas_de_vestir_calzado,alojamiento_agua_electricidad_gas_otroscomb,muebles_articulos_hogar,salud,...,comunicaciones,recreacion _cultura,educacion,restaurantes_hoteles,cuidado_personal,indice_ipc_general,importaciones_valor_usd,importaciones_volumen_kg,exportaciones_valor_usd,exportaciones_volumen_kg
404,2024,Septiembre,24.91,24.92,399.3,538.3,397.3,458.4,488.3,558.3,...,78.3,316.2,885.4,489.0,412.4,439.8,"1,369,180,166.89","1,059,065,428.12","466,325,388.27","501,057,472.75"
405,2024,Octubre,25.02,24.92,395.4,538.3,397.8,460.2,489.5,561.7,...,78.4,317.0,885.4,492.0,412.8,439.6,"1,351,391,753.20","1,137,444,740.55","410,986,733.27","446,648,275.11"
406,2024,Noviembre,25.20,24.92,395.3,540.5,398.4,461.5,490.2,562.1,...,78.5,317.4,885.4,493.9,413.5,440.1,"1,409,053,830.31","1,072,925,295.25","376,451,470.22","306,785,591.49"
407,2024,Diciembre,25.42,24.92,397.6,543.5,399.2,462.7,491.0,564.7,...,78.7,317.6,885.4,495.0,418.1,442.1,NaN,NaN,NaN,NaN
408,2025,Enero,25.58,25.58,400.8,544.7,400.4,462.8,495.5,565.4,...,78.9,318.9,885.4,500.6,425.0,444.8,NaN,NaN,NaN,NaN

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 21 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   anio                                         409 non-null    int64
 1   mes                                          409 non-null    object
 2   precio_promedio_venta_USD                    301 non-null    float64
 3   promedio_valor_USD_anual                     301 non-null    float64
 4   alimentos_bebidas_sin_alcohol                409 non-null    float64
 5   bebidas_alcoholicas_tabaco                   409 non-null    float64
 6   prendas_de_vestir_calzado                    409 non-null    float64
 7   alojamiento_agua_electricidad_gas_otroscomb  409 non-null    float64
 8   muebles_articulos_hogar                      409 non-null    float64
 9   salud                                        409 non-null    float64
 10  transporte                                   409 non-null    float64
 11  comunicaciones                               409 non-null    float64
 12  recreacion _cultura                          409 non-null    float64
 13  educacion                                    409 non-null    float64
 14  restaurantes_hoteles                         409 non-null    float64
 15  cuidado_personal                             409 non-null    float64
 16  indice_ipc_general                           409 non-null    float64
 17  importaciones_valor_usd                      238 non-null    object
 18  importaciones_volumen_kg                     238 non-null    object
 19  exportaciones_valor_usd                      239 non-null    object
 20  exportaciones_volumen_kg                     239 non-null    object
dtypes: float64(15), int64(1), object(5)
memory usage: 67.2+ KB

## Crear Cracteristica Fecha

In [42]:
months = {
    'Enero': 'January', 'Febrero': 'February', 'Marzo': 'March', 'Abril': 'April',
    'Mayo': 'May', 'Junio': 'June', 'Julio': 'July', 'Agosto': 'August',
    'Septiembre': 'September', 'Octubre': 'October', 'Noviembre': 'November', 'Diciembre': 'December'
}

df['mes'] = df['mes'].replace(months)

df['fecha'] = pd.to_datetime(df['anio'].astype(str) + '-' + df['mes'], format='%Y-%B', errors='coerce')

In [43]:
cols_numericas = ['importaciones_valor_usd', 'importaciones_volumen_kg',
                  'exportaciones_valor_usd', 'exportaciones_volumen_kg']


df[cols_numericas] = df[cols_numericas].replace({',': ''}, regex=True).astype(float)

df.tail()

,anio,mes,precio_promedio_venta_USD,promedio_valor_USD_anual,alimentos_bebidas_sin_alcohol,bebidas_alcoholicas_tabaco,prendas_de_vestir_calzado,alojamiento_agua_electricidad_gas_otroscomb,muebles_articulos_hogar,salud,...,recreacion _cultura,educacion,restaurantes_hoteles,cuidado_personal,indice_ipc_general,importaciones_valor_usd,importaciones_volumen_kg,exportaciones_valor_usd,exportaciones_volumen_kg,fecha
404,2024,September,24.91,24.92,399.3,538.3,397.3,458.4,488.3,558.3,...,316.2,885.4,489.0,412.4,439.8,1.369180e+09,1.059065e+09,4.663254e+08,5.010575e+08,2024-09-01
405,2024,October,25.02,24.92,395.4,538.3,397.8,460.2,489.5,561.7,...,317.0,885.4,492.0,412.8,439.6,1.351392e+09,1.137445e+09,4.109867e+08,4.466483e+08,2024-10-01
406,2024,November,25.20,24.92,395.3,540.5,398.4,461.5,490.2,562.1,...,317.4,885.4,493.9,413.5,440.1,1.409054e+09,1.072925e+09,3.764515e+08,3.067856e+08,2024-11-01
407,2024,December,25.42,24.92,397.6,543.5,399.2,462.7,491.0,564.7,...,317.6,885.4,495.0,418.1,442.1,NaN,NaN,NaN,NaN,2024-12-01
408,2025,January,25.58,25.58,400.8,544.7,400.4,462.8,495.5,565.4,...,318.9,885.4,500.6,425.0,444.8,NaN,NaN,NaN,NaN,2025-01-01

## Eliminar las columnas vacias

In [44]:
df = df[df['anio'] >= 2005]

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 241 entries, 168 to 408
Data columns (total 22 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   anio                                         241 non-null    int64
 1   mes                                          241 non-null    object
 2   precio_promedio_venta_USD                    241 non-null    float64
 3   promedio_valor_USD_anual                     241 non-null    float64
 4   alimentos_bebidas_sin_alcohol                241 non-null    float64
 5   bebidas_alcoholicas_tabaco                   241 non-null    float64
 6   prendas_de_vestir_calzado                    241 non-null    float64
 7   alojamiento_agua_electricidad_gas_otroscomb  241 non-null    float64
 8   muebles_articulos_hogar                      241 non-null    float64
 9   salud                                        241 non-null    float64
 10  transporte                                   241 non-null    float64
 11  comunicaciones                               241 non-null    float64
 12  recreacion _cultura                          241 non-null    float64
 13  educacion                                    241 non-null    float64
 14  restaurantes_hoteles                         241 non-null    float64
 15  cuidado_personal                             241 non-null    float64
 16  indice_ipc_general                           241 non-null    float64
 17  importaciones_valor_usd                      238 non-null    float64
 18  importaciones_volumen_kg                     238 non-null    float64
 19  exportaciones_valor_usd                      239 non-null    float64
 20  exportaciones_volumen_kg                     239 non-null    float64
 21  fecha                                        241 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(1), object(1)
memory usage: 43.3+ KB

In [46]:
df.tail()

,anio,mes,precio_promedio_venta_USD,promedio_valor_USD_anual,alimentos_bebidas_sin_alcohol,bebidas_alcoholicas_tabaco,prendas_de_vestir_calzado,alojamiento_agua_electricidad_gas_otroscomb,muebles_articulos_hogar,salud,...,recreacion _cultura,educacion,restaurantes_hoteles,cuidado_personal,indice_ipc_general,importaciones_valor_usd,importaciones_volumen_kg,exportaciones_valor_usd,exportaciones_volumen_kg,fecha
404,2024,September,24.91,24.92,399.3,538.3,397.3,458.4,488.3,558.3,...,316.2,885.4,489.0,412.4,439.8,1.369180e+09,1.059065e+09,4.663254e+08,5.010575e+08,2024-09-01
405,2024,October,25.02,24.92,395.4,538.3,397.8,460.2,489.5,561.7,...,317.0,885.4,492.0,412.8,439.6,1.351392e+09,1.137445e+09,4.109867e+08,4.466483e+08,2024-10-01
406,2024,November,25.20,24.92,395.3,540.5,398.4,461.5,490.2,562.1,...,317.4,885.4,493.9,413.5,440.1,1.409054e+09,1.072925e+09,3.764515e+08,3.067856e+08,2024-11-01
407,2024,December,25.42,24.92,397.6,543.5,399.2,462.7,491.0,564.7,...,317.6,885.4,495.0,418.1,442.1,NaN,NaN,NaN,NaN,2024-12-01
408,2025,January,25.58,25.58,400.8,544.7,400.4,462.8,495.5,565.4,...,318.9,885.4,500.6,425.0,444.8,NaN,NaN,NaN,NaN,2025-01-01

##  Valores Nulos

In [47]:
df.fillna(df.median(numeric_only=True), inplace=True)

df.tail()

,anio,mes,precio_promedio_venta_USD,promedio_valor_USD_anual,alimentos_bebidas_sin_alcohol,bebidas_alcoholicas_tabaco,prendas_de_vestir_calzado,alojamiento_agua_electricidad_gas_otroscomb,muebles_articulos_hogar,salud,...,recreacion _cultura,educacion,restaurantes_hoteles,cuidado_personal,indice_ipc_general,importaciones_valor_usd,importaciones_volumen_kg,exportaciones_valor_usd,exportaciones_volumen_kg,fecha
404,2024,September,24.91,24.92,399.3,538.3,397.3,458.4,488.3,558.3,...,316.2,885.4,489.0,412.4,439.8,1.369180e+09,1.059065e+09,4.663254e+08,5.010575e+08,2024-09-01
405,2024,October,25.02,24.92,395.4,538.3,397.8,460.2,489.5,561.7,...,317.0,885.4,492.0,412.8,439.6,1.351392e+09,1.137445e+09,4.109867e+08,4.466483e+08,2024-10-01
406,2024,November,25.20,24.92,395.3,540.5,398.4,461.5,490.2,562.1,...,317.4,885.4,493.9,413.5,440.1,1.409054e+09,1.072925e+09,3.764515e+08,3.067856e+08,2024-11-01
407,2024,December,25.42,24.92,397.6,543.5,399.2,462.7,491.0,564.7,...,317.6,885.4,495.0,418.1,442.1,7.768077e+08,6.704250e+08,3.314524e+08,3.773484e+08,2024-12-01
408,2025,January,25.58,25.58,400.8,544.7,400.4,462.8,495.5,565.4,...,318.9,885.4,500.6,425.0,444.8,7.768077e+08,6.704250e+08,3.314524e+08,3.773484e+08,2025-01-01

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 241 entries, 168 to 408
Data columns (total 22 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   anio                                         241 non-null    int64
 1   mes                                          241 non-null    object
 2   precio_promedio_venta_USD                    241 non-null    float64
 3   promedio_valor_USD_anual                     241 non-null    float64
 4   alimentos_bebidas_sin_alcohol                241 non-null    float64
 5   bebidas_alcoholicas_tabaco                   241 non-null    float64
 6   prendas_de_vestir_calzado                    241 non-null    float64
 7   alojamiento_agua_electricidad_gas_otroscomb  241 non-null    float64
 8   muebles_articulos_hogar                      241 non-null    float64
 9   salud                                        241 non-null    float64
 10  transporte                                   241 non-null    float64
 11  comunicaciones                               241 non-null    float64
 12  recreacion _cultura                          241 non-null    float64
 13  educacion                                    241 non-null    float64
 14  restaurantes_hoteles                         241 non-null    float64
 15  cuidado_personal                             241 non-null    float64
 16  indice_ipc_general                           241 non-null    float64
 17  importaciones_valor_usd                      241 non-null    float64
 18  importaciones_volumen_kg                     241 non-null    float64
 19  exportaciones_valor_usd                      241 non-null    float64
 20  exportaciones_volumen_kg                     241 non-null    float64
 21  fecha                                        241 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(1), object(1)
memory usage: 43.3+ KB

## Guardar Preprocesado

In [49]:
df.to_csv('../data/preprocess_Data_EconoCast.csv', index=False)